/* --------------- PREDEFINED VARIABLES --------------- */

:root{
    --bg-color : #0d1b2a;
    --text-color : #e0e1dd;
}

html{
    scroll-behavior: smooth;
}

/* --------------- ANIMATIONS --------------- */

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* --------------- UNIVERSAL CSS --------------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: var(--text-color);
}

body{
    background-color: var(--bg-color) ;
}

/* --------------- NAVBAR CSS ---------------- */

nav, .left-nav, ul, .right-nav{
    display: flex;
    flex-direction: row;
}

nav{
    justify-content: space-between;
    padding: 25px 50px 0 50px;
}

.left-nav, .right-nav{
    justify-content: center;
    align-items: center;
}

ul{
    gap: 25px;
}

.logo{
    width: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

li, a{
    text-decoration: none;
    list-style: none;
}

#active-btn{
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    border-radius: 25px;
}

/* --------------- HERO SECTION CSS --------------- */

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero-text h1{
    font-size: 40px;
    margin-top: 30px;
}

.hero-image img{
    animation: floating 3s ease-in-out infinite;
    margin-top: -50px;
}

/* --------------- MY WORK SECTION CSS --------------- */

.mywork-section{
    height : 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle1{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #f39740;
    border-radius: 50%;
    z-index: -1;
    right: 0;
    top: 0;
}

.circle2{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #f34040;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.blur{
    filter: blur(100px);
}

.mywork-section > h1{
    text-align: center;
    padding: 50px 0 25px 0;
}

.swiper {
    width: 1020px;
    height: auto;
    /* background-color: red; */
    border-radius: 15px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 320px;
    background-color: #163250;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image>img{
    width: 70%;
}

.card-text>p{
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

.card button{
    border-radius: 25px;
    background-color: var(--bg-color);
    border-color: var(--text-color);
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* --------------- EDUCATION SECTION CSS --------------- */

.education-section{
    min-height: 100vh;
    width: 100vw;
}

.section-title{
    text-align: center;
    margin: 50px 0 0 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    gap: 50px;
}

.milestone-icon{
    width: 70px;
    height: 100px;
    background-color: #e0e1dd;
    border-radius: 50px 50px 0 0;
    transition: all 0.2s ease-in-out 0.2s;
}

.milestone-icon:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: translateY(-10px);
}

.milestone-icon h2{
    color: black;
    text-align: center;
}

.milestone-icon-upper{
    width: 70px;
    height: 50px;
    background-color: #f39740;
    border-radius: 50px 50px 0 0;
}

.milestone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 320px;
    max-width: 665px;
}

/* --------------- ABOUT ME SECTION CSS --------------- */

.about-section{
    width: 100vw;
    min-height: 100vh;
}

.about-container{
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-content{
    width: 320px;
}

.about-image img{
    width: 320px; 
    border-radius: 25px;
}

.about-image{
    border-radius: 50px;
}
